<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="~/Scripts/AppScripts/jsonController.js"></script>

<h3>Welcome</h3>
<div ng-controller="jsonController">
    <table cellpadding="3" cellspacing="15" style="border-spacing:12px">
        <tr>
            <td>Model name : </td>
            <td><input type="text" ng-model="modelName" placeholder="Enter model name" /></td>
        </tr>
        <tr>
            <td style="margin-top:10px">Property Name :</td>
            <td style="margin-top:10px"><input type="text" ng-model="propertyName" placeholder="Enter property name" /></td>
        </tr>
        <tr>
            <td>Data Type:</td>
            <td>
                <select ng-model="dataType">
                    <option value="">Select</option>
                    <option ng-repeat="type in dataTypes" value="{{type.value}}">{{type.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Required :</td>
            <td><input type="checkbox" ng-model="required" /></td>
        </tr>
        <tr>
            <td rowspan="2"><button class="btn btn-default" ng-click="AddPropertyToModel()" ng-disabled="(modelName && propertyName && dataType) ?  false : true ">Add</button></td>
        </tr>
    </table>
    <table border="1" cellpadding="1" cellspacing="2" style="width:100%" ng-repeat="model in models">
        <thead>
            <tr>
                <th>Model Name : {{model.model}}</th>
            </tr>
            <tr>
                <th style="width:20%">Property Name</th>
                <th style="width:20%">Type</th>
                <th style="width:20%">Required</th>
                <th style="width:20%"></th>
                <th style="width:20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prop in model.properties">
                <td>{{prop.name}}</td>
                <td>{{prop.dataType}}</td>
                <td>{{prop.required}}</td>
                <td><button>Edit</button> </td>
                <td><button> Delete</button> </td>
            </tr>
        </tbody>
    </table>
    <div>
        @*<button style="padding-top:5px" ng-show="models.length > 0" ng-click="ViewJson()">Show Json</button>*@
        <button style="padding-top:5px" ng-show="models.length > 0" ng-click="SwaggerJsonGeneration()">Show Json</button>
    </div>
    <div>
        <pre ng-show="jsonObject">{{jsonObject}}</pre>
    </div>
    <div ng-show="swaggerEditorJson">
        Swagger Json
        <pre>{{swaggerEditorJson}}</pre>
    </div>
</div>